
.main-section {
    margin-top: 20px;
    background-color: #fff;
    padding-bottom: 30px;
    /*padding: 0 10px;*/
    /*border-left: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
}

@media screen and (min-width: 1200px) {

    .main-section {
        background-color: #fff;
        padding: 0 120px;
        padding-bottom: 100px;
    }
}